
			*{
				margin: 0px;
				padding: 0px;
				list-style: none;
			}
			
			#max{
				width: 100vw;
				height: 100vh;	  
			}
		
	
			#tops{
				height: 46vh;
				width: 100vw;
				position: relative;
				background-color: pink;	
			}
			
			#plate,#pic,#sca,#hour,#min,#second{
				position: absolute;
				margin: 28px 60px;	
			}

			#pic,#sca{
				left: 10px;
				top: 10px;
			}

			#hour,#min,#second{
				left: 115px;

			}




			
			
			
			
			#middles{
				height: 14vh;
				width: 100vw;
			}
			#bottoms{
				height: 40vh,;
				width: 100vw;
			}
			