
			*{
				margin: 0px;
				padding: 0px;
				list-style: none;
			}
			
			#max{
				width: 100vw;
				height: 100vh;	  
			}
		
			#tops{
				height: 46vh;
				width: 100vw;
				position: relative;
				background-color: pink;	
			}
			
			#plate,#pic,#sca,#hour,#min,#second{
				position: absolute;
				margin: 5vw 10vh;	
			}

			#pic,#sca{
				left: 3vw;
				top: 1.3vh;
			}

			#hour,#min,#second{
				top: 0.1vh;
				left: 34vw;

			}




			
			
			
			
			#middles{
				height: 14vh;
				width: 100vw;
				background-color: yellow;	
			}
			#bottoms{
				position: relative;
				height: 40vh,;
				width: 100vw;
				background-color: pink;	
			}
			
		