	*{
			margin: 0px;
			padding: 0px;
		}
		.cyhx{
			width: 100vw;
			height: 100vh;
			/*border:10px solid gold;*/
			margin:0 auto;


	}
	span{
			font-family: "微软雅黑";
		}
		.cyhx .header{
			width: 100vw;
			height: 10vh;
			background-color: rgba(255,153,204,1);
			margin:0 auto;
			margin-top: 0vh;
			position: relative;
		}
		.header .left{
			border-radius: 5vw;
			width: 20vw;
			height: 3vh;
			/*background-color: orange;*/
			text-align: center;
			line-height: 3vh;
			margin-left: 3vw;
			position: absolute;
			top:2vh;
			
		}
		.header .center{
			width: 30vw;
			height: 5vh;
			/*background-color: pink;*/
			margin:0 auto;
			text-align: center;
			line-height: 5vh;
			position: absolute;
			top:2vh;
			right:35vw;


		}
		.header .right{
			border-radius: 5vw;
			width: 20vw;
			height: 3vh;
			/*background-color: purple;*/
			text-align: center;
			line-height: 3vh;
			position: absolute;
			top:2vh;
			left:76vw;
		}
		.cyhx .content{
			width: 100vw;
			height: 40vh;
			background-color: rgba(255,153,204,1);
			margin: 0 auto;
			position: relative;
		}
		.content .content1{
			border-radius: 5vw;
			width: 80vw;
			height: 20vh;
			background-color: rgba(255,255,255,0.3);
			margin: 0 auto;
			margin-top: 15vh;
			text-align: center;
			line-height: 20vh;
			position: absolute;
			top:-10vh;
			left:10vw;
			font-size: 15vw;
			font-family: "微软雅黑";
		}
		.cyhx .footer{
			width: 100vw;
			height: 50vh;
			background-color: rgba(255,153,204,1);
			margin: 0 auto;
		}
		
		.footer .a{
			border-radius: 3vw;
			width: 100vw;
			height: 10vh;
			background-color: rgba(255,255,255,0.3);
			
		}
		.footer .a span{
			width: 20vw;
			height: 5vh;
			float:left;
			/*background-color:blue ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-left: 3vw;

		}
		.footer .a .a1{
			width: 20vw;
			height: 5vh;
			float: right;
			/*background-color:pink ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-right: 6vw;


		}
		.footer .b{
			border-radius: 3vw;
			width: 100vw;
			height: 10vh;
			background-color: rgba(255,255,255,0.3);
			margin-top: 0.5vh;
		}
		.footer .b span{
			width: 20vw;
			height: 5vh;
			float:left;
			/*background-color:red ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-left: 3vw;


		}
		.footer .b .b1{
			width: 20vw;
			height: 5vh;
			float: right;
			/*background-color:pink ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-right: 6vw;


		}
		.footer .c{
			border-radius: 3vw;
			width: 100vw;
			height: 10vh;
			background-color: rgba(255,255,255,0.3);
			margin-top: 0.5vh;
		}
		.footer .c span{
			width: 20vw;
			height: 5vh;
			float:left;
			/*background-color:blue ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-left: 5vw;


		}
		.footer .c .c1{
			width: 20vw;
			height: 5vh;
			float: right;
			/*background-color:pink;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-right: 6vw;

		}
		.footer .d{
			border-radius: 3vw;
			width: 100vw;
			height: 10vh;
			background-color: rgba(255,255,255,0.3);
			margin-top: 0.5vh;

		}
		.footer .d span{
			width: 20vw;
			height: 5vh;
			float:left;
			/*background-color:blue ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-left: 7vw;


		}
		.footer .d .d1{
			width: 20vw;
			height: 5vh;
			float: right;
			/*background-color:orange ;*/
			text-align: center;
			line-height: 5vh;
			margin-top: 2vh;
			margin-right: 6vw;
		}
		.footer .e{
			width: 100vw;
			height: 8vh;
			background-color: rgba(255,255,255,1);
			text-align: center;
			margin-top: 0.5vh;
		}

