*{
			margin: 0px;
			padding: 0px;
		}

#singMax{
	background: url(../images/singIN.jpeg);
	background-size: 100vw,110vh;
	width: 100vw;
	height: 100vh;
}

#singIn{
	opacity: 0.6;
	width: 80vw;
	position: relative;	
	top: 10vw;
	margin-right: auto;
	margin-left: auto;
	/*background: url(../images/singIN.jpeg);*/
}

#lz{
	
	position: absolute;
	width: 11vw;
	height: 20vw;
	display: none;
	
}

.mui-input-group{
	
	height: 40vw;
}


