
    	.bigleft{float: left;width: 50%;}
    	.bigright{float: right;width: 50%;}
    	.span1{color:white;font-size:23px;font-weight: bold;}
    	.head1{float:left;padding-left: 15%;padding-top: 3%;}
    	.head2{float: right;padding-right: 15%;padding-top: 3%;}
    	.mui-card{width: 45vw;height:45vw;}
    	.mui-card-content{overflow: hidden;}
    	
 