
			*{
				margin: 0px;
				padding: 0px;
				list-style: none;
			}
			 
			#max{
				width: 100vw;
				height: 100vh;	  
			}
		
			#tops{
				height: 45vh;
				width: 100vw;
				position: relative;
				/*background-color: pink;*/
			}
			
			#mix{
				
				top: 5vh;
				width: 60vw;
				height: 60vw;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				
				background: url(../images/dialPlate.png) no-repeat;
				background-size: 60vw 60vw;
				
			}
			
			#picPng{
				position:absolute;
				left: 2.5vw;
				top: 2.5vw;
				height: 55vw;
				width: 55vw;			
			}
			
			#scalePng{
				position:absolute;
				left: 1.5vw;
				top: 1.5vw;
				height: 58vw;
				width: 58vw;
			}
			
			#hour,#min,#second{
				
				
				position:absolute;
				
				left: 29.7vw;
				
				height: 59vw;
				width: 1.5vw;
				 
			}

										
			#middles{
				height: 12vh;
				width: 100vw;
				position: relative;
				
			}
			#bottoms{
				position: relative;
				height: 40vh,;
				width: 100vw;
				/*background-color: pink;*/	
			}
			
			#noonAlarmPic{
				
				position: absolute;
				left: 5vw;
				height: 8vh; 
				width: 16vw;
				background-color: rgba(255,255,255,0.8);
				border-radius: 5vw;
				
			}
			
			#noonFont{
				position: absolute;
				left: 4.5vw;
				top: 1vh;
			}
			
			#noonFont{
				font-size: 4vh;
			}
			
			#noonWord{
				position: absolute;
				top: 5vh;
				left: 2vw;
			}
			
			#msg{
				
				position: absolute;
				left: 25vw;
				height: 8vh; 
				width: 60vw;
				background-color: rgba(255,255,255,0.8);
				border-radius: 5vw;
				display: none;
				
				
			}
			
			#msgP{
				position: absolute;
				left: 15vw;
				top: 2.5vh;
			}
			
			
